///
/// Color variables
///
/// Some variables use colors set by args in the functions file.
///
/// @see includes/classes/core/class-setup.php
///

$white: #ffffff;
$dark_bg: #222222;
$text: #333333;
$link: #0000ee;
$visited: #551a8b;
$dark_gray: #333333;
$medium_gray: #555555;
$light_gray: #888888;
$pale_gray: #cccccc;
$error: #dc3232;
$warning: #ffb900;
$success: #46b450;
