/**
 * Navigation
 */
 .main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin-top: 1em;
	background: #fff;

	& ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		background: inherit;

		& ul {
			-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			background: inherit;

			& ul {
				left: -999em;
				top: 0;
			}

			& li:hover > ul,
			& li.focus > ul {
				left: 100%;
			}

			& a {
				width: 100%;
			}
		}

		& li:hover > ul,
		& li.focus > ul {
			left: auto;
		}
	}

	& li {
		position: relative;
	}

	& a {
		display: inline-block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	font-size: 1.25em;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}

	.main-navigation div > ul > li {
		display: inline;
		position: relative;
		margin-right: 1em;
	}
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}