///
/// Embedded posts
///

@import 'modules/_reset';
@import 'modules/_colors';

.wp-embed {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: normal;
	line-height: 1.5;
	background: $white;
	color: $text;
    border: 1px solid $pale_gray;
    box-shadow: none;
    overflow: auto;

    .wp-embed-content {
        padding: 0 1.5rem 1.5rem;
    }

    a,
    .wp-embed-heading a {
        color: $medium_gray;

        &:visited {
            color: $medium_gray;
        }

        &:hover,
        &:focus {
            color: lighten( $color: $medium_gray, $amount: 12% );
        }
    }

    .wp-embed-share-dialog-open {
        .dashicons {
            top: 4px;
        }
    }
}
