///
/// Login styles
///

@import 'modules/_colors';

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		a {
			width: unset;
			height: unset;
			margin: 0;
			text-indent: 0px;
			background: none;
			font-size: unset;
			font-weight: inherit;
			color: $text;

			&:hover,
			&.hover,
			&:focus,
			&.focus {
				color: $text;
			}
		}
	}

	a {
		color: $link;
		text-decoration: none;
		transition: all .15s;
		-webkit-transition: all .15s;
		-moz-transition: all .15s;
			-ms-transition: all .15s;
			-o-transition: all .15s;

		&:hover,
		&.hover,
		&:focus,
		&.focus {
			box-shadow: none;
		}
	}

	label {
		font-size: 1rem;
	}

	#login {
		width: 100%;
		max-width: 1280px;
		margin: 0;
		padding: 2rem;

		#loginform,
		#nav,
		#backtoblog {
			max-width: 480px;
			margin: 1em auto 0;
		}
	}
}
