///
/// Site header styles
///

.site-title {
	margin: 0;

	/* Match <p> tag to <h1> tag on front page */
	font-size: 2em;
	font-weight: bold;

	& a {
		color: inherit;
		text-decoration: inherit;
	}
}

.site-description {
	margin: 0;
}

.site-header-image {
	margin: 1em 0;
}

.site-branding {
	display: flex;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 1em 2em 0;

	img {
		margin-right: 1em;
		max-width: 80px;
	}
}
