///
/// Images & media RTL styles
///

img,
figure {

	&.alignright {
		margin: 1em 1em 0 0;
	}

	&.alignleft {
		margin: 1em 0 0 1em;
	}
}

.alignleft {
	float: right;
}

.alignright {
	float: left;
}

.entry-content p img {

	&.alignleft {
		margin: 0 1em 1em 0;
	}

	&.alignright {
		margin: 0 0 1em 1em;
	}

	&.aligncenter {
		margin: 2em auto;
	}
}

.author-avatar {
	margin-right: unset;
	margin-left: 0.5em;
}
